Repository komapper/komapper, changes with the labels that .github/labeler.yml gives for each.
All labels: module/gradle-plugin, module/annotation, module/codegen, module/core, module/datetime-jdbc, module/datetime-r2dbc, module/dialect-h2, module/dialect-h2-jdbc, module/dialect-h2-r2dbc, module/dialect-mariadb, module/dialect-mariadb-jdbc, module/dialect-mariadb-r2dbc, module/dialect-mysql, module/dialect-mysql-jdbc, module/dialect-mysql-r2dbc, module/dialect-oracle, module/dialect-oracle-jdbc, module/dialect-oracle-r2dbc, module/dialect-postgresql, module/dialect-postgresql-jdbc, module/dialect-postgresql-r2dbc, module/dialect-sqlserver, module/dialect-sqlserver-jdbc, module/dialect-sqlserver-r2dbc, module/jdbc, module/platform, module/processor, module/quarkus-jdbc, module/r2dbc, module/slf4j, module/spring, module/spring-boot-autoconfigure-jdbc, module/spring-boot-autoconfigure-r2dbc, module/spring-boot-starter-jdbc, module/spring-boot-starter-r2dbc, module/spring-jdbc, module/spring-native-jdbc, module/spring-native-r2dbc, module/spring-r2dbc, module/sqlcommenter, module/starter-jdbc, module/starter-r2dbc, module/template, module/tx-context-jdbc, module/tx-context-r2dbc, module/tx-core, module/tx-jdbc, module/tx-r2dbc

Add permissions
  .github/workflows/labeler.yml
Labels: none

Revert "Update actions/labeler action to v5 (#1153)"
  .github/workflows/labeler.yml
Labels: none

Revert "Update actions/labeler action to v5 (#1153)" (#1159)
  .github/workflows/labeler.yml
Labels: none

Fix upsert query results.
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertBatchTest.kt
Labels: none

Update KSP to v1.9.22-1.0.16
  gradle.properties
Labels: none

Rename classes and functions
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/EntityProjectionSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/EntityProjectionSetOperationQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/RelationSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQueryBuilder.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/DefaultQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/FlowQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/QueryVisitor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcTemplateEntityProjectionSelectRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/visitor/JdbcQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcTemplateEntityProjectionSelectFlowBuilder.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcTemplateEntityProjectionSelectRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcFlowQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcQueryVisitor.kt
Labels: module/core, module/jdbc, module/r2dbc

Introduce ProjectionType
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcDataTypeTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcDataTypeTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/ProjectionType.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQueryBuilder.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/ValueExtractingException.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/ValueExtractor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/DefaultQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/FlowQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/QueryVisitor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityMapper.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityStoreRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcResultSetTransformers.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcValueExtractor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/visitor/JdbcQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityMapper.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityStoreRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcRowTransformers.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcValueExtractor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcFlowQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcQueryVisitor.kt
Labels: module/core, module/jdbc, module/r2dbc

Generate extension functions for TemplateSelectQueryBuilder
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcTemplateTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcTemplateTest.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityMetamodelGenerator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Symbols.kt
Labels: module/processor

Add a feature to automate the mapping of projections in TemplateQuery (#1169)
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcDataTypeTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcTemplateTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcDataTypeTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcTemplateTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/EntityProjectionSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/EntityProjectionSetOperationQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/ProjectionType.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/RelationSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQuery.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateSelectQueryBuilder.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/ValueExtractingException.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/ValueExtractor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/DefaultQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/FlowQueryVisitor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/visitor/QueryVisitor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityMapper.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityStoreRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcResultSetTransformers.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcTemplateEntityProjectionSelectRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcValueExtractor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/visitor/JdbcQueryVisitor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityMetamodelGenerator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Symbols.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityMapper.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityStoreRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcRowTransformers.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcTemplateEntityProjectionSelectFlowBuilder.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcTemplateEntityProjectionSelectRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcValueExtractor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcFlowQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcQueryVisitor.kt
Labels: module/core, module/jdbc, module/processor, module/r2dbc

Add Operand.SimpleArgument
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/BuilderSupport.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/Operand.kt
Labels: module/core

Add a new columnExpression function
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/operator/OperatorUtility.kt
Labels: module/core

Simplify the creation of custom column expressions (#1171)
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/BuilderSupport.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/Operand.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/operator/OperatorUtility.kt
Labels: module/core

.github/labeler.yml:

module/gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'gradle-plugin/**/*'

module/annotation:
- changed-files:
  - any-glob-to-any-file: 'komapper-annotation/**/*'

module/codegen:
- changed-files:
  - any-glob-to-any-file: 'komapper-codegen/**/*'

module/core:
- changed-files:
  - any-glob-to-any-file: 'komapper-core/**/*'

module/datetime-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-datetime-jdbc/**/*'

module/datetime-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-datetime-r2dbc/**/*'

module/dialect-h2:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-h2/**/*'

module/dialect-h2-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-h2-jdbc/**/*'

module/dialect-h2-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-h2-r2dbc/**/*'

module/dialect-mariadb:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mariadb/**/*'

module/dialect-mariadb-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mariadb-jdbc/**/*'

module/dialect-mariadb-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mariadb-r2dbc/**/*'

module/dialect-mysql:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mysql/**/*'

module/dialect-mysql-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mysql-jdbc/**/*'

module/dialect-mysql-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-mysql-r2dbc/**/*'

module/dialect-oracle:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-oracle/**/*'

module/dialect-oracle-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-oracle-jdbc/**/*'

module/dialect-oracle-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-oracle-r2dbc/**/*'

module/dialect-postgresql:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-postgresql/**/*'

module/dialect-postgresql-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-postgresql-jdbc/**/*'

module/dialect-postgresql-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-postgresql-r2dbc/**/*'

module/dialect-sqlserver:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-sqlserver/**/*'

module/dialect-sqlserver-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-sqlserver-jdbc/**/*'

module/dialect-sqlserver-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-dialect-sqlserver-r2dbc/**/*'

module/jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-jdbc/**/*'

module/platform:
- changed-files:
  - any-glob-to-any-file: 'komapper-platform/**/*'

module/processor:
- changed-files:
  - any-glob-to-any-file: 'komapper-processor/**/*'

module/quarkus-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-quarkus-jdbc/**/*'

module/r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-r2dbc/**/*'

module/slf4j:
- changed-files:
  - any-glob-to-any-file: 'komapper-slf4j/**/*'

module/spring:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring/**/*'

module/spring-boot-autoconfigure-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-boot-autoconfigure-jdbc/**/*'

module/spring-boot-autoconfigure-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-boot-autoconfigure-r2dbc/**/*'

module/spring-boot-starter-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-boot-starter-jdbc/**/*'

module/spring-boot-starter-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-boot-starter-r2dbc/**/*'

module/spring-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-jdbc/**/*'

module/spring-native-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-native-jdbc/**/*'

module/spring-native-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-native-r2dbc/**/*'

module/spring-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-spring-r2dbc/**/*'

module/sqlcommenter:
- changed-files:
  - any-glob-to-any-file: 'komapper-sqlcommenter/**/*'

module/starter-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-starter-jdbc/**/*'

module/starter-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-starter-r2dbc/**/*'

module/template:
- changed-files:
  - any-glob-to-any-file: 'komapper-template/**/*'

module/tx-context-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-tx-context-jdbc/**/*'

module/tx-context-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-tx-context-r2dbc/**/*'

module/tx-core:
- changed-files:
  - any-glob-to-any-file: 'komapper-tx-core/**/*'

module/tx-jdbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-tx-jdbc/**/*'

module/tx-r2dbc:
- changed-files:
  - any-glob-to-any-file: 'komapper-tx-r2dbc/**/*'
