Repository komapper/komapper, pull requests merged in 2023-07, with the labels that each got.

#1018 Add the `useTableNameAsAlias` option to Gradle plugin
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/GenerateTask.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Generator.java
  komapper-codegen/src/main/java/org/komapper/codegen/CodeGenerator.java
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
Labels: module/gradle-plugin, module/codegen

#1028 Remove warnings
  build.gradle.kts
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/JdbcDataOperator.kt
Labels: module/jdbc

#1029 Update README
  README.md
Labels: docs, skip-changelog

#1030 Polish compatibility matrix
  README.md
Labels: docs, skip-changelog
