Repository komapper/komapper, pull requests merged in 2023-06, with the labels that each got.

#991 Download Spring releases from Maven Central.
  build.gradle.kts
  settings.gradle.kts
Labels: chore

#993 Fix CodeGeneratorTest failure on Windows
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
Labels: module/codegen

#998 Support Self-mapping in code generator
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/GenerateTask.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Generator.java
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcMetadataReaderTest.kt
  komapper-codegen/src/main/java/org/komapper/codegen/CodeGenerator.java
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
Labels: module/gradle-plugin, module/codegen

#1004 Add permissions to pr-labeler-action
  .github/workflows/pr-labeler.yml
Labels: ci

#1003 Support `@KomapperVersion`, `@KomapperCreatedAt` and `@KomapperUpdatedAt` in code generator
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/GenerateTask.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Generator.java
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcMetadataReaderTest.kt
  komapper-codegen/src/main/java/org/komapper/codegen/CodeGenerator.java
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
Labels: module/gradle-plugin, module/codegen

#1005 Update compatibility matrix
  README.md
Labels: docs

#1012 Add entity name singularization to Gradle Plugin
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/GenerateTask.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Generator.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Pair.java
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcMetadataReaderTest.kt
  komapper-codegen/build.gradle.kts
  komapper-codegen/src/main/java/org/komapper/codegen/ClassNameResolver.java
  komapper-codegen/src/main/java/org/komapper/codegen/CodeGenerator.java
  komapper-codegen/src/main/java/org/komapper/codegen/SingularClassNameResolver.java
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
  komapper-codegen/src/test/kotlin/org/komapper/codegen/SingularClassNameResolverTest.kt
  komapper-codegen/src/test/kotlin/org/komapper/codegen/StringUtilTest.kt
Labels: module/gradle-plugin, module/codegen
