Repository komapper/komapper, pull requests merged in 2024-01, with the labels that each got.

#1172 Added validation to ensure that the update columns are not empty in AutoBatchUpdateQuery
  integration-test-core/src/main/kotlin/integration/core/Entities.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSingleTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/EntityUpdateStatementBuilder.kt
Labels: module/core

#1177 Add dialect configuration to control whether output column names are included in a CTE definition.
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectWithTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/Dialect.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/SelectStatementBuilder.kt
Labels: module/core

#1179 Make `@KomapperProjection` independent from `@KomapperEntity`
  integration-test-core/src/main/kotlin/integration/core/Entities.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectProjectionTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcTemplateTest.kt
  komapper-annotation/src/main/kotlin/org/komapper/annotation/Annotations.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/ProjectionMeta.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/BuilderSupport.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/SetOperationContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/LiteralExpression.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/ReadOnlyColumnExpression.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/operator/LiteralExpressions.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/operator/OperatorUtility.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityMapper.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcResultSetTransformers.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/visitor/JdbcQueryVisitor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/AnnotationSupport.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Data.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityAnalyzer.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityDefFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityDefinitionSourceResolver.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityMetamodelGenerator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityProcessor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityProcessorProvider.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/ProcessingAnnotation.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Symbols.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityMapper.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcRowTransformers.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcFlowQueryVisitor.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/visitor/R2dbcQueryVisitor.kt
Labels: module/core, module/processor, module/jdbc, module/r2dbc, module/annotation

#1182 Add overridden versions of the nullLiteral function
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcLiteralTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/operator/LiteralExpressions.kt
Labels: refactor, module/core

#1183 Update KSP to v1.9.22-1.0.17
  gradle.properties
Labels: dependencies

#1191 Modify the H2 Database Dialect to ensure BigDecimal is mapped to numeric
  komapper-dialect-h2-jdbc/src/main/kotlin/org/komapper/dialect/h2/jdbc/H2JdbcDataTypeProvider.kt
  komapper-dialect-h2-r2dbc/src/main/kotlin/org/komapper/dialect/h2/r2dbc/H2R2dbcDataTypeProvider.kt
Labels: fix, module/dialect-h2-jdbc, module/dialect-h2-r2dbc
