Repository komapper/komapper, pull requests merged in 2024-11, with the labels that each got.

#1449 Fix SpringBoot autoconfiguration dependencies & polish
  gradle/libs.versions.toml
  komapper-spring-boot-autoconfigure-jdbc/build.gradle.kts
  komapper-spring-boot-autoconfigure-jdbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-jdbc/src/test/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfigurationTest.kt
  komapper-spring-boot-autoconfigure-r2dbc/build.gradle.kts
  komapper-spring-boot-autoconfigure-r2dbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/test/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfigurationTest.kt
Labels: module/spring-boot-autoconfigure-jdbc, module/spring-boot-autoconfigure-r2dbc

#1464 Avoid the use of deprecated class
  komapper-quarkus-jdbc/src/main/java/org/komapper/quarkus/jdbc/DefaultDataSourceResolver.java
Labels: refactor, module/quarkus-jdbc

#1465 Update versions
  README.md
Labels: docs, skip-changelog
