Repository komapper/komapper, pull requests merged in 2024-10, with the labels that each got.

#1395 Improve error messages
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcTemplateTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcTemplateTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprLocation.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprParser.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprTokenType.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprTokenizer.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlLocation.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlTokenizer.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/expression/ExprTokenizerTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlLocationTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlParserTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlTokenizerTest.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/SqlReassembler.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/SqlValidator.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/CommandProcessorErrorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/PartialProcessorErrorTest.kt
  komapper-template/src/main/kotlin/org/komapper/template/ExprEvaluator.kt
  komapper-template/src/main/kotlin/org/komapper/template/TwoWayTemplateStatementBuilder.kt
  komapper-template/src/test/kotlin/org/komapper/template/ExprEvaluatorTest.kt
  komapper-template/src/test/kotlin/org/komapper/template/TwoWayTemplateStatementBuilderTest.kt
Labels: refactor, module/core, module/processor, module/template

#1399 Add updatable attribute to @KomapperColumn
  integration-test-core/src/main/kotlin/integration/core/Entities.kt
  integration-test-core/src/main/kotlin/integration/core/H2Setting.kt
  integration-test-core/src/main/kotlin/integration/core/MariaDbSetting.kt
  integration-test-core/src/main/kotlin/integration/core/MySql5Setting.kt
  integration-test-core/src/main/kotlin/integration/core/MySqlSetting.kt
  integration-test-core/src/main/kotlin/integration/core/OracleSetting.kt
  integration-test-core/src/main/kotlin/integration/core/PostgreSqlSetting.kt
  integration-test-core/src/main/kotlin/integration/core/SqlServerSetting.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertMultipleTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertSingleTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSetTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSingleTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcInsertBatchTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcInsertMultipleTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcInsertSingleTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcUpdateBatchTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcUpdateSetTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcUpdateSingleTest.kt
  komapper-annotation/src/main/kotlin/org/komapper/annotation/Annotations.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/BuilderUtility.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/EntityUpdateContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/PropertyDescriptor.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/PropertyMetamodel.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/AnnotationSupport.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/Data.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityMetamodelGenerator.kt
Labels: module/core, module/processor, module/annotation

#1407 Update google-java-format to v1.24.0
  build.gradle.kts
  gradle.properties
Labels: dependencies

#1408 Manage library versions in libs.versions.toml
  build.gradle.kts
  example-basic-jdbc/build.gradle.kts
  example-basic-r2dbc/build.gradle.kts
  example-spring-boot-jdbc/build.gradle.kts
  example-spring-boot-r2dbc/build.gradle.kts
  example-starter-jdbc/build.gradle.kts
  example-starter-r2dbc/build.gradle.kts
  gradle-plugin/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  integration-test-core/build.gradle.kts
  integration-test-jdbc/build.gradle.kts
  integration-test-r2dbc/build.gradle.kts
  komapper-codegen/build.gradle.kts
  komapper-core/build.gradle.kts
  komapper-datetime-jdbc/build.gradle.kts
  komapper-datetime-r2dbc/build.gradle.kts
  komapper-dialect-h2-jdbc/build.gradle.kts
  komapper-dialect-h2-r2dbc/build.gradle.kts
  komapper-dialect-mariadb-jdbc/build.gradle.kts
  komapper-dialect-mariadb-r2dbc/build.gradle.kts
  komapper-dialect-mysql-jdbc/build.gradle.kts
  komapper-dialect-mysql-r2dbc/build.gradle.kts
  komapper-dialect-oracle-jdbc/build.gradle.kts
  komapper-dialect-oracle-r2dbc/build.gradle.kts
  komapper-dialect-postgresql-jdbc/build.gradle.kts
  komapper-dialect-postgresql-r2dbc/build.gradle.kts
  komapper-dialect-sqlserver-jdbc/build.gradle.kts
  komapper-dialect-sqlserver-r2dbc/build.gradle.kts
  komapper-processor/build.gradle.kts
  komapper-quarkus-jdbc-deployment/build.gradle.kts
  komapper-quarkus-jdbc/build.gradle.kts
  komapper-r2dbc/build.gradle.kts
  komapper-slf4j/build.gradle.kts
  komapper-spring-boot-autoconfigure-jdbc/build.gradle.kts
  komapper-spring-boot-autoconfigure-r2dbc/build.gradle.kts
  komapper-spring-boot-starter-jdbc/build.gradle.kts
  komapper-spring-boot-starter-r2dbc/build.gradle.kts
  komapper-spring-jdbc/build.gradle.kts
  komapper-spring-r2dbc/build.gradle.kts
  komapper-spring/build.gradle.kts
  komapper-sqlcommenter/build.gradle.kts
  komapper-starter-jdbc/build.gradle.kts
  komapper-starter-r2dbc/build.gradle.kts
  komapper-template/build.gradle.kts
  komapper-tx-context-jdbc/build.gradle.kts
  komapper-tx-context-r2dbc/build.gradle.kts
  komapper-tx-jdbc/build.gradle.kts
  komapper-tx-r2dbc/build.gradle.kts
  settings.gradle.kts
Labels: chore, module/core, module/gradle-plugin, module/codegen, module/processor, module/slf4j, module/sqlcommenter, module/dialect-h2-jdbc, module/dialect-h2-r2dbc, module/dialect-mysql-jdbc, module/dialect-postgresql-jdbc, module/r2dbc, module/spring-boot-autoconfigure-jdbc, module/spring-boot-starter-jdbc, module/starter-jdbc, module/tx-jdbc, module/tx-r2dbc, module/template, module/dialect-mysql-r2dbc, module/dialect-postgresql-r2dbc, module/spring-boot-autoconfigure-r2dbc, module/starter-r2dbc, module/dialect-mariadb-jdbc, module/dialect-mariadb-r2dbc, module/spring-boot-starter-r2dbc, module/quarkus-jdbc, module/dialect-sqlserver-jdbc, module/dialect-oracle-jdbc, module/dialect-oracle-r2dbc, module/dialect-sqlserver-r2dbc, module/spring-r2dbc, module/spring-jdbc, module/tx-context-jdbc, module/tx-context-r2dbc, module/spring, module/datetime-jdbc, module/datetime-r2dbc

#1410 Improve the Performance of Gradle Builds
  .github/workflows/build.yml
  gradle.properties
Labels: perf

#1417 Use kotlin-test APIs instead of Junit 5 APIs if possible
  integration-test-core/src/test/kotlin/integration/core/EntityMetamodelTest.kt
  integration-test-core/src/test/kotlin/integration/core/QueryDslTest.kt
  integration-test-jdbc/src/h2/kotlin/integration/jdbc/h2/JdbcH2MappingTest.kt
  integration-test-jdbc/src/mariadb/kotlin/integration/jdbc/mariadb/JdbcMariaDbMappingTest.kt
  integration-test-jdbc/src/mysql/kotlin/integration/jdbc/mysql/JdbcMySqlMappingTest.kt
  integration-test-jdbc/src/mysql5/kotlin/integration/jdbc/mysql5/JdbcMySql5MappingTest.kt
  integration-test-jdbc/src/oracle/kotlin/integration/jdbc/oracle/JdbcOracleMappingTest.kt
  integration-test-jdbc/src/postgresql/kotlin/integration/jdbc/postgresql/JdbcPostgreSqlMappingTest.kt
  integration-test-jdbc/src/postgresql/kotlin/integration/jdbc/postgresql/PostgreSqlDataTypeTest.kt
  integration-test-jdbc/src/sqlserver/kotlin/integration/jdbc/sqlserver/JdbcSqlServerMappingTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertMultipleTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertValuesTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSessionTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSingleTest.kt
  integration-test-r2dbc/src/h2/kotlin/integration/r2dbc/h2/R2dbcH2MappingTest.kt
  integration-test-r2dbc/src/mariadb/kotlin/integration/r2dbc/mariadb/R2dbcMariadbMappingTest.kt
  integration-test-r2dbc/src/mysql/kotlin/integration/r2dbc/mysql/R2dbcMysqlMappingTest.kt
  integration-test-r2dbc/src/mysql5/kotlin/integration/r2dbc/mysql5/R2dbcMySql5MappingTest.kt
  integration-test-r2dbc/src/oracle/kotlin/integration/r2dbc/oracle/R2dbcOracleMappingTest.kt
  integration-test-r2dbc/src/sqlserver/kotlin/integration/r2dbc/sqlserver/R2dbcSqlServerMappingTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcInsertMultipleTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcInsertValuesTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/CoreUtilityTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/ProcessorUtilityTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/ExprValidatorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/SqlReassemblerTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/SqlValidatorTest.kt
  komapper-template/src/test/kotlin/org/komapper/template/ExprEvaluatorTest.kt
  komapper-template/src/test/kotlin/org/komapper/template/TwoWayTemplateStatementBuilderTest.kt
  komapper-tx-core/src/test/kotlin/org/komapper/tx/core/TransactionOptionTest.kt
  komapper-tx-r2dbc/src/test/kotlin/org/komapper/tx/r2dbc/R2dbcUtilityTest.kt
Labels: module/core, module/processor, module/tx-r2dbc, test, module/template, module/tx-core

#1419 Distinguish between a column being null and the absence of a record in a `returning(expression)` query
  integration-test-core/src/main/kotlin/integration/core/Entities.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcDeleteSingleReturningTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSingleReturningTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcDeleteSingleReturningTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcUpdateSingleReturningTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpdateSingleReturningRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityDeleteSingleReturningRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcEntityUpdateSingleReturningRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityDeleteSingleReturningRunner.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/dsl/runner/R2dbcEntityUpdateSingleReturningRunner.kt
Labels: fix, module/core, module/jdbc, module/r2dbc

#1429 Improve the error message for `OptimisticLockException`
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcDeleteBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateBatchTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcDeleteBatchTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcUpdateBatchTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityDeleteRunnerSupport.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpdateRunnerSupport.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpdateSingleReturningRunner.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/RunnerUtility.kt
Labels: refactor, module/core

#1431 Remove unnecessary code from settings.gradle.kts
  settings.gradle.kts
Labels: chore

#1433 Add support for `ON CONFLICT WHERE` in Postgres
  integration-test-core/src/main/kotlin/integration/core/Entities.kt
  integration-test-core/src/main/kotlin/integration/core/PostgreSqlSetting.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertBatchTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertMultipleTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcInsertSingleTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/Dialect.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/builder/BuilderUtility.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/EntityInsertContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/EntityUpsertContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/InsertQueryBuilder.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpsertBatchRunner.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpsertMultipleRunner.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/EntityUpsertSingleRunner.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/runner/RunnerUtility.kt
  komapper-dialect-postgresql/src/main/kotlin/org/komapper/dialect/postgresql/PostgreSqlDialect.kt
  komapper-dialect-postgresql/src/main/kotlin/org/komapper/dialect/postgresql/PostgreSqlEntityUpsertStatementBuilder.kt
Labels: feature, module/core, module/dialect-postgresql
