Repository komapper/komapper, pull requests merged in 2024-08, with the labels that each got.

#1332 Always Include updatedAt property in the SET clause of UPDATE statements
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcUpdateSingleTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/EntityUpdateContext.kt
Labels: fix, module/core

#1333 Add get operator to EntityMetamodel
  integration-test-core/src/test/kotlin/integration/core/EntityMetamodelTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/ColumnExpression.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/PropertyExpression.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/expression/TableExpression.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/EntityMetamodel.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/EntityMetamodelDeclaration.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/EntityMetamodelScope.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/metamodel/PropertyMetamodel.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/BackquotedSymbols.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EntityMetamodelGenerator.kt
Labels: feature, module/core, module/processor

#1334 Add KDoc comments
  komapper-core/src/main/kotlin/org/komapper/core/EntityMetamodels.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/Meta.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/QueryDsl.kt
Labels: chore, module/core

#1335 Support subquery for between and notBetween operators
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectTest.kt
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcSelectWhereTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/QueryDsl.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/scope/FilterScope.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/scope/FilterScopeSupport.kt
Labels: module/core

#1347 Support returning result sets when executing INSERT, UPDATE, and DELETE using SQL templates
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcTemplateTest.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcTemplateTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/TemplateExecuteContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/context/TemplateSelectContext.kt
  komapper-core/src/main/kotlin/org/komapper/core/dsl/query/TemplateExecuteQuery.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcTemplateEntityProjectionSelectRunner.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/dsl/runner/JdbcTemplateSelectRunner.kt
Labels: feature, module/core, module/jdbc

#1351 Remove extra blank lines from SQL generated by SQL templates
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlNode.kt
  komapper-template/src/main/kotlin/org/komapper/template/TwoWayTemplateStatementBuilder.kt
  komapper-template/src/test/kotlin/org/komapper/template/TwoWayTemplateStatementBuilderTest.kt
Labels: feature, module/core, module/template

#1353 Enable binding functions to SQL templates
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcCommandTest.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprNode.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprParser.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprReducer.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprTokenType.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprTokenizer.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/expression/ExprParserTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/expression/ExprTokenizerTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlParserTest.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlTokenizerTest.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/ExprValidator.kt
  komapper-template/src/main/kotlin/org/komapper/template/ExprEvaluator.kt
  komapper-template/src/test/kotlin/org/komapper/template/ExprEvaluatorTest.kt
Labels: feature, module/core, module/processor, module/template

#1354 Fix description in gradle.properties for integration-test-jdbc
  integration-test-jdbc/gradle.properties
Labels: feature

#1360 Make the constructor of `DryRunStatement` public
  komapper-core/src/main/kotlin/org/komapper/core/Statement.kt
Labels: chore, module/core

#1361 Refactor the `komapper-processor` module
  build.gradle.kts
  gradle.properties
  komapper-processor/src/main/kotlin/org/komapper/processor/AnnotationVisitor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/BackquotedSymbols.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/ClassDeclarationVisitor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Context.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/ContextFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EmptySymbolProcessor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/EnumStrategy.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/ProcessorUtility.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Symbols.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/TypeParameterVisitor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/CommandResult.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/SqlAssembler.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/SqlValidator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/AnnotationSupport.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/Data.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityAnalyzer.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityDefFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityDefinitionSourceResolver.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityMetamodelGenerator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityMetamodelStubGenerator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityModel.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityProcessor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityProcessorProvider.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/ProcessingAnnotation.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/factory/EntityMetamodelFactoryProcessor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/factory/EntityMetamodelFactoryProcessorProvider.kt
  komapper-processor/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  komapper-processor/src/test/kotlin/org/komapper/processor/ProcessorUtilityTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/CommandProcessorErrorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/entity/EntityProcessorErrorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/entity/EntityProcessorOkTest.kt
Labels: refactor, module/processor

#1365 Fix and improve `CommandProcessor` and related classes
  .github/workflows/build.yml
  gradle.properties
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprException.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlException.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlReassembler.kt
  komapper-core/src/test/kotlin/org/komapper/core/template/sql/SqlReassemblerTest.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/Context.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/CommandAnalyzer.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/CommandFactory.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/CommandProcessorProvider.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/ExprValidator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/command/SqlValidator.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityProcessor.kt
  komapper-processor/src/main/kotlin/org/komapper/processor/entity/EntityProcessorProvider.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/CommandProcessorErrorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/ExprValidatorTest.kt
  komapper-processor/src/test/kotlin/org/komapper/processor/command/SqlValidatorTest.kt
Labels: fix, module/core, module/processor

#1366 Inherit from RuntimeException instead of Exception
  komapper-core/src/main/kotlin/org/komapper/core/template/expression/ExprException.kt
  komapper-core/src/main/kotlin/org/komapper/core/template/sql/SqlException.kt
Labels: fix, module/core
