Repository komapper/komapper, pull requests merged in 2025-01, with the labels that each got.

#1473 Add support for execution statistics
  komapper-core/src/main/kotlin/org/komapper/core/DatabaseConfig.kt
  komapper-core/src/main/kotlin/org/komapper/core/Statistic.kt
  komapper-core/src/main/kotlin/org/komapper/core/StatisticManager.kt
  komapper-core/src/test/kotlin/org/komapper/core/DefaultStatisticManagerTest.kt
  komapper-dialect-oracle-jdbc/src/main/kotlin/org/komapper/dialect/oracle/jdbc/OracleJdbcExecutor.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/JdbcDatabase.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/JdbcDatabaseConfig.kt
  komapper-jdbc/src/main/kotlin/org/komapper/jdbc/JdbcExecutor.kt
  komapper-quarkus-jdbc/src/main/java/org/komapper/quarkus/jdbc/KomapperProducer.java
  komapper-quarkus-jdbc/src/main/java/org/komapper/quarkus/jdbc/KomapperRecorder.java
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/R2dbcDatabase.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/R2dbcDatabaseConfig.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/R2dbcExecutor.kt
  komapper-spring-boot-autoconfigure-jdbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfiguration.kt
Labels: feature, module/core, module/jdbc, module/r2dbc, module/spring-boot-autoconfigure-jdbc, module/spring-boot-autoconfigure-r2dbc, module/quarkus-jdbc, module/dialect-oracle-jdbc

#1501 Fix mapping of Primitive Boxed Generic Array Types
  integration-test-core/src/main/kotlin/integration/core/PostgreSqlSetting.kt
  integration-test-r2dbc/src/main/kotlin/integration/r2dbc/EntityDataType.kt
  integration-test-r2dbc/src/postgresql/kotlin/integration/r2dbc/postgresql/R2dbcPostgreSqlMapping.kt
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcDataTypeTest.kt
  komapper-dialect-postgresql-r2dbc/src/main/kotlin/org/komapper/dialect/postgresql/r2dbc/PostgreSqlR2dbcDataTypeProvider.kt
Labels: fix, module/dialect-postgresql-r2dbc

#1502 Refactor StatisticManager initialization
  komapper-core/src/main/kotlin/org/komapper/core/DatabaseConfig.kt
  komapper-core/src/main/kotlin/org/komapper/core/StatisticManager.kt
  komapper-core/src/main/kotlin/org/komapper/core/StatisticManagers.kt
  komapper-core/src/main/kotlin/org/komapper/core/spi/StatisticManagerFactory.kt
  komapper-core/src/test/kotlin/org/komapper/core/StatisticManagersTest.kt
  komapper-quarkus-jdbc-deployment/src/main/java/org/komapper/quarkus/jdbc/deployment/KomapperProcessor.java
  komapper-quarkus-jdbc/src/main/java/org/komapper/quarkus/jdbc/KomapperProducer.java
  komapper-spring-boot-autoconfigure-jdbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfiguration.kt
Labels: module/core, module/spring-boot-autoconfigure-jdbc, module/spring-boot-autoconfigure-r2dbc, module/quarkus-jdbc

#1506 Spring Boot: also detect UserDefined *DataType beans
  komapper-spring-boot-autoconfigure-jdbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/ConditionalOnAnyJdbcDataTypeBean.kt
  komapper-spring-boot-autoconfigure-jdbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-jdbc/src/test/kotlin/org/komapper/spring/boot/autoconfigure/jdbc/KomapperJdbcAutoConfigurationTest.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/ConditionalOnAnyR2dbcDataTypeBean.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/main/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfiguration.kt
  komapper-spring-boot-autoconfigure-r2dbc/src/test/kotlin/org/komapper/spring/boot/autoconfigure/r2dbc/KomapperR2dbcAutoConfigurationTest.kt
Labels: module/spring-boot-autoconfigure-jdbc, module/spring-boot-autoconfigure-r2dbc
