Repository komapper/komapper, pull requests merged in 2025-03, with the labels that each got.

#1536 fix: Serialize r2dbc row processing by converting Flux to Flow
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/R2dbcExecutor.kt
Labels: module/r2dbc

#1541 Use `kotlinx.coroutines.reactive.asFlow` instead of `kotlinx.coroutines.reactive.collect`
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcSequentialExecutionTest.kt
  komapper-r2dbc/src/main/kotlin/org/komapper/r2dbc/R2dbcExecutor.kt
  komapper-spring-r2dbc/src/main/kotlin/org/komapper/spring/r2dbc/SpringR2dbcTransactionSession.kt
Labels: fix, module/r2dbc, module/spring-r2dbc

#1544 Refactor release version retrieval in workflow
  .github/workflows/release.yml
Labels: ci

#1545 Fix RELEASE_VERSION assignment in release workflow
  .github/workflows/release.yml
Labels: ci

#1546 Update dependencies and compatibility table
  README.md
Labels: docs, skip-changelog

#1547 Remove unnecessary sorting in R2dbcSequentialExecutionTest
  integration-test-r2dbc/src/test/kotlin/integration/r2dbc/R2dbcSequentialExecutionTest.kt
Labels: test

#1537 Accept a Clock in DefaultDefaultClockProvider's Primary Constructor
  komapper-core/src/main/kotlin/org/komapper/core/ClockProvider.kt
  komapper-core/src/test/kotlin/org/komapper/core/ClockProviderTest.kt
Labels: module/core

#1548 Add support for resolving package names with reserved keywords
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/GenerateTask.java
  gradle-plugin/src/main/java/org/komapper/gradle/codegen/Generator.java
  integration-test-jdbc/src/test/kotlin/integration/jdbc/JdbcMetadataReaderTest.kt
  komapper-codegen/src/main/java/org/komapper/codegen/CodeGenerator.java
  komapper-codegen/src/main/java/org/komapper/codegen/PackageNameResolver.java
  komapper-codegen/src/main/java/org/komapper/codegen/PackageNameResolverImpl.java
  komapper-codegen/src/test/kotlin/org/komapper/codegen/CodeGeneratorTest.kt
  komapper-codegen/src/test/kotlin/org/komapper/codegen/PackageNameResolverImplTest.kt
Labels: module/gradle-plugin, module/codegen
